<div *ngIf="character" class="card bg-dark h-100 container-fluid d-flex justify-content-center " style="width: 20rem;">
    <div class="card-body">
      <img *ngIf="character.image" [src]="character.image" alt="{{ character.name }}" class="card-img-top" style="height: 250px; object-fit: cover; border-radius: 5px;">
      <div class="card-content p-3">
        <h3 class="title text-light card-title fw-bold text-break mb-3">{{ character.name }}</h3>
        <p class="species text-light mb-2">Species: {{ character.species }}</p>
        <p class="status text-light mb-2">Status: {{ character.status }}</p>
        <p class="character text-light mb-0">Location: {{ character.location?.name }}</p>
      </div>
    </div>
  </div>